.login {
	display: flex;
	flex-direction: column;
	align-items: center;

	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
		0 10px 10px rgba(0,0,0,0.22);
	width: 400px;
	max-width: 100%;
	min-height: 500px;
	background: linear-gradient(to right, #FF4B2B, #FF416C);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.login__header {
	margin-top: 95px;
}

p {
	font-size: 12px;
	margin-top: 0;
}

.googleImg {
	width: 100px;
	height: 100px;
	background: white;
	border-radius: 30px;
	padding: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
		0 10px 10px rgba(0,0,0,0.22);
	margin-top: 50px;
}

.googleImg:hover {
	background: #4c36a5;
}